.centertable tbody td {
  vertical-align: middle;
}

.form-control {
  color: black !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tablesorter {
  text-align: center;
}

table.tablesorter thead tr .header {
  background-image: url(../img/black-unsorted.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/black-asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/black-desc.gif);
}

div.modal-body>div.row>div.col select,
input {
  width: 15rem;
  text-align: center;
}

.modalSelect {
  width: 15rem;
  text-align: center;
}

.toast-body {
  opacity: 100%;
}

.toast .progress {
  position: relative;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: '';
  position: relative;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 2s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.success {
  color: green;
}

.failure {
  color: red;
}

.aanddlist {
  font-size: 17px;
  margin: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.btn-closeA {
  vertical-align: text-bottom;
}

.btn-closeD {
  vertical-align: text-bottom;
}

.fieldError {
  background-color: #ffdddd;
  border-color: red;
  border-width: 2px;
}

.fieldError:focus {
  border-color: red;
  border-width: 2px;
}

.statsError {
  background-color: rgb(255, 144, 144);
  font-weight: bold;
}

.cartQt {
  max-width: 80px;
}

.input-group {
  width: fit-content;
  margin: auto;
}

.noPres {
  background-color: #ffc0c0 !important;
}

.yesPres {
  background-color: #c0ffd6 !important;
}

.poDiv {
  text-align: right;
}