.centertable tbody td {
  vertical-align: middle;
}

.form-control {
  color: black!important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tablesorter {
  text-align: center;
}

table.tablesorter thead tr .header {
  background-image: url(../img/black-unsorted.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer; 
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/black-asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/black-desc.gif);
}

div.modal-body > div.row > div.col select, input {
  width: 15rem;
  text-align: center;
}

.modalSelect {
  width: 15rem;
  text-align: center;
}